.container {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  bottom: 5rem;
  left: 6rem;
  display: flex;
  bottom: 0px;
  left: 0px;
  padding: 1rem;
  gap: 0.25rem;
  flex-direction: row-reverse;
  cursor: pointer;
  z-index: 10;
}
