<!-- [style.--font-style]="note.font.name" -->
<div
  class="note-card note-card-w"
  [ngClass]="editingMode == true ? 'note-card-editing' : ''"
  [style.--bg-color]="note.color.backgroundColor"
  [style.--text-color]="note.color.textColor"
  [style.--font-style]="note.font.name"
>
  <i
    *ngIf="!editingMode"
    class="material-symbols-outlined delete-icon"
    (click)="delete(note.id)"
  >
    delete
  </i>
  <i
    *ngIf="editingMode"
    class="material-symbols-outlined delete-icon"
    (click)="finishedEditing()"
  >
    done
  </i>
  <div (click)="editON()" class="inputs-contanier">
    <input
      [disabled]="!editingMode"
      type="text"
      name="title"
      class="note-title"
      [(ngModel)]="note.title"
    />
    <textarea
      [disabled]="!editingMode"
      class="note-content"
      [(ngModel)]="note.note"
    ></textarea>
  </div>
  <app-color-picker
    [noteId]="note.id"
    (colorChanged)="onColorChange($event)"
  ></app-color-picker>
  <app-font-picker [noteId]="note.id" (fontChanged)="onFontChange($event)">
  </app-font-picker>
</div>
