<div
  class="note-card"
  [style.--bg-color]="note.color.backgroundColor"
  [style.--text-color]="note.color.textColor"
  [style.--font-style]="note.font.name" 
>
  <i class="material-symbols-outlined delete-icon" (click)="delete(note.id)">
    delete
  </i>
  <h1 class="note-title">{{ note.title }}</h1>
  <p class="note-content">{{ note.note }}</p>
  <app-color-picker
    [noteId]="note.id"
    (colorChanged)="onColorChange($event)"
  ></app-color-picker>
  <!-- <app-font-picker [noteId]="note.id" 
  (fontChanged)="onFontChange($event)">
    
  </app-font-picker>-->
</div>
