.note-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  max-width: 300px;
  font-family: var(--text-style) ;
}

.delete-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1rem;
  font-size: var(--xl);
  cursor: pointer;
}
