.note-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  transition: all 0.5s;
}

input {
  font-family: var(--font-style);
}

textarea {
  font-family: var(--font-style);
}

.note-card-w {
  width: 19vw;
}

.note-card-editing {
  width: 30vw;
}

.inputs-contanier {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 90%;
}

.note-title {
  background-color: transparent;
  border: none;
  font-size: var(--lg);
  color: var(--text-color);
}

.note-title:disabled {
  color: var(--text-color);
}

.note-content {
  background-color: transparent;
  border: none;
  font-size: var(--md);
  color: var(--text-color);
  height: 90%;
}

.note-content:focus,
.note-title:focus {
  background-color: transparent;
  outline: none;
  border: 0px;
}

.note-content:disabled {
  color: var(--text-color);
}

.delete-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1rem;
  font-size: var(--xl);
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .note-card-w {
    width: 25vw;
  }

  .note-card-editing {
    width: 40vw;
  }
}

@media only screen and (max-width: 705px) {
  .note-card-w {
    width: 38vw;
  }

  .note-card-editing {
    width: 38vw;
  }
}

@media only screen and (max-width: 605px) {
  .note-card-w {
    width: 80vw;
  }

  .note-card-editing {
    width: 80vw;
  }
}
