.note-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #b1d7b4;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 10px;
  aspect-ratio: 1 / 1;
}
