
<form class="note-form"

  
>

  <input
    class="note-input note-input-title"
    type="text"
    name="title"
    [(ngModel)]="noteTitle"
    required
    placeholder="Enter Title"
    #title="ngModel"
  />
  <textarea
    class="note-input note-text-area"
    type="text"
    name="note"
    [(ngModel)]="noteContent"
    placeholder="Enter Note Content"
    #note="ngModel"
  ></textarea>
  <app-color-picker  let color of Colors
[(ngModel)]="color.id"
(colorChanged)="onColorChange($event)"

></app-color-picker>
  <div class="icon-container">

    <a routerLink="" class="delete-icon">Cancel</a>
    
    <button (click)="addNote()" class="note-button">
      <i class="material-symbols-outlined done-icon"> done </i>
    </button>
    
  </div>
</form>
